.contact_container{
    display: flex;
    height: 100%;
}


.contact_form{
    display: flex;
    max-width: 800px;
    margin-top: 50px;
}

.msg{
    display: flex;
    flex-direction: column;
}

.op{
    display: flex;
}

.op *{
    width: 390px;
}

.op :nth-child(1){
    margin-right: 20px;
}

.op *, .msg *{
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    outline: none;
    border: 1px solid rgb(207, 211, 214);
    text-align: start;
    padding: 20px;
    font-size: 1.4rem;
    background-color:#ffffff;
    transition: 0.5s;
    font-family: "Lato";
}

.msg textarea{
    height: 200px;
    resize: vertical;
    max-height: 400px;
}

.op *:hover, .msg *:hover{
    border-color: #cc0000;
    transition: 0.5s;
    box-shadow: 2px 2px 5px grey;
}

.op *:focus, .msg *:focus{
    border-color: #cc0000;
    box-shadow: 2px 2px 5px grey;
}

.contact_me{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact_me h1{
    color: #cc0000;
}

.contact_me p{
    margin-top: 10px;
    font-size: 1.3rem;
}

.contact_me a{
    color: #cc0000;
    transition: 0.5s;
}

.contact_me a:hover{
    color: red;
    transition: 0.5s;
}

.contact_me_icon svg{
    width: 50px;
    height: 50px;
}

.mrg_top{
    margin-top: 50px;
}


@media only screen and (max-width:1520px){
    .contact_container{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .op *, .msg *{
        width: 100%;
    }

    .contact_me{
        margin-top: 50px;
        width: 100%;
        flex-basis: auto;
    }
    
}

@media only screen and (max-width:970px){

    .op{
        display: inline;
    }

    .op :nth-child(1){
        margin-right: 0;
    }

}


@media only screen and (max-width:700px){
    .op :nth-child(1){
        margin-right: 0;
    }

}