
.contact_form{
    display: flex;
    max-width: 800px;
    margin-top: 50px;
}

.msg{
    display: flex;
    flex-direction: column;
}

.op *{
    width: 390px;
}

.op :nth-child(1){
    margin-right: 20px;
}

.op *, .msg *{
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    outline: none;
    border: 1px solid rgb(207, 211, 214);
    text-align: start;
    padding: 20px;
    font-size: 1.4rem;
    background-color:rgb(251, 252, 250);
    transition: 0.5s;
    font-family: "Lato";
}

.msg textarea{
    height: 200px;
    resize: vertical;
}

.op *:hover, .msg *:hover{
    border-color: #cc0000;
    transition: 0.5s;
    box-shadow: 2px 2px 5px grey;
}

.op *:focus, .msg *:focus{
    border-color: #cc0000;
    box-shadow: 2px 2px 5px grey;
}

@media only screen and (max-width:1520px){
    .contact_container{
        height: 74vh;
    }
    .op *, .msg *{
        width: 100%;
    }
    
}

@media only screen and (max-width:700px){
    .op :nth-child(1){
        margin-right: 0;
    }

    .contact_container{
        height: 84vh;
    }
}